**/.git
**/.github
**/.turbo
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/coverage
**/.DS_Store
**/*.md
**/test
**/__tests__
**/*spec.ts
**/eslint.config.*
**/.prettierrc*
**/tsconfig.tsbuildinfo
apps/extension
packages
run.sh
Dockerfile
*.log
.vscode
.idea
apps/backend/public/extension.zip
